<div class="masthead segment bg2">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui inverted header">
        <span class="library" style="font-size: 1.25em">Exercises</span>
      </h1>
    </div>
  </div>
</div>

<div id="content">


  <br><br><br><br>

  {{manage-exercises model=model}}

</div>