{{#nav-bar}}
  <div class="masthead segment bg4">
    <div class="ui container">
      <div class="introduction">
        <h1 class="ui inverted header">
      <span class="tagline">
         Client Dashboard
      </span>
        </h1>
        <div class="ui hidden divider"></div>

      </div>
    </div>
  </div>
{{/nav-bar}}