{{#nav-bar}}

  <div class="masthead segment bg1">
    <div class="ui container">
      <div class="introduction">
        <h1 class="ui inverted header">
          <span class="library">Self Start</span>
          <span class="tagline">
            You have Registered. Login to access your dashboard.
          </span>
        </h1>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

      </div>
    </div>
  </div>

{{/nav-bar}}