<div class="masthead segment bg2">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui inverted header">
        <span class="library" style="font-size: 1.25em">Upload photo</span>
      </h1>
    </div>
  </div>
</div>

{{client-upload-photos}}