<div class="ui button" {{action 'openModal'}}>
  Add gender
</div>

{{#ui-modal name="newGender" class="small newGender"}}

  <div class="header">
    Adding new Gender
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Gender Name</label>
        {{input type="text" cols="50" rows="1" value = name placeholder="add gender"}}
      </div>
    </div>
  </div>

  <div class="actions" style="padding:0; ">
    <div class="ui positive right" style="padding:1em; float:left; width: 50%; cursor: pointer; background: #35a785; color:white; text-align: center;">Save<i class="checkmark icon"></i></div>
    <div class="ui deny" style="padding:1em; float:left; width: 50%;  cursor: pointer; background: #b6bece; color:white; text-align: center;">Cancel</div>

  </div>

{{/ui-modal}}