
<style>
  .paypal-button-text {
    display: inline-block;
    white-space: pre-wrap;
    color: transparent !important;
  }

  .paypal-button .paypal-button-text {
    visibility: hidden;
    color: black !important;
  }
</style>
<div id="paypal-button-container"></div>