<div class="masthead segment bg3">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui inverted header">
        <span class="library">Practitioner's Page</span>
      </h1>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui center aligned grid">

        <!--<a href="/appointment"  class="ui large inverted download button" >-->
        <!--Book Appointment-->
        <!--</a>-->

      </div>

    </div>
  </div>
</div>

<div id="SkypeButton_Call" style="position: fixed; right: 0; bottom: 0"></div>
