<div class="ui container" style="height: 150px;width: 950px;padding-top: 50px;">
<div class="ui cards">
     <div class="card" style="max-width: 200px;">

      <div class="content">
        <a class="header">{{#link-to 'practitioner.client-file' model.id}}Client's Files{{/link-to}}</a>
        <div class="meta">{{model.givenName}} {{model.familyName}}</div>
      </div>
    </div>

</div>
</div>